.searchList{
    width: 100%;
    background: white;
    padding: 0 .1rem .1rem .1rem;
}
.searchItem{
    height: .45rem;
    font-size: .16rem;
    line-height: .45rem;
    border-bottom: 0.01rem solid #eee;
    text-align: left;
    position: relative;
}