@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1569331663080'); /* IE9 */
  src: url('iconfont.eot?t=1569331663080#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKUAAsAAAAABkQAAAJHAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApQYgE2AiQDCAsGAAQgBYRtBzAbiAXInpo8KVKJjaUoJPQYBCQhgqd7c97u3qX0isFSuVRqdhSBRqEEOCQRDkgX+D+u/R7mDeoqdhZ/wixpP3nb7c53Qy2R8S5ezaqFBKFZpPbqiwTWJ+4d/wX0QUY9oFzXWrRoUhdQFwdSgHthm6xIIm8Yu8AlnCfQalKTvMOugWEoVVjTAnHPmQmluYiisHyzUK9ZW8Sbmub0kl6B1/D78c+IUpJaZlWcNDodaPmatyfkxWrRdX72MJ8LbBMZ60AhLmozRwoEYwu0ZgrNgn2VBl+qyreJvZoF++us4nYwDrPBF1d2q/kEt9VXHzA66kVEH+dwsR431veWaunmUh3b2t1vsiduXtyWybvLicG/gYng19zb5+P5Ly0A1WL6z88CwdB7a/5dzebmtgI+5z5oqFos0M9H8068wc+Q9mwputyypqJKazuTvpNUtWpFBTjQ62usYeDMhdBsYISvyUSKrNk8UZh11LTZQF2zHbRa0725TR+hQJQWrFoDCN0ukHT6QNbtjSjMJ2oGfaOuOwrQ6ir69myzGLz8QKAp0SHWFOF2HFHHLsuj0kFkY4EpsvKQG0WR8TjRFa2Y78YIxRwLsnFmSEkJFXFIusBlGAQxSUTsoS0VV8okp6q07k2KHYdQ7oCATBJyEJYpBGeLRajfXSovfX4QYsYETKKlqSY5CgkZPjihU2g9iG5N1KvpXq7JjGMMkkQRlBALEV1gFAoEYkRSP8qDbJLCHZFK5Kh2O9pXo6yvC79uD7SyjCnsYVm9YUbuGAcAAAAA') format('woff2'),
  url('iconfont.woff?t=1569331663080') format('woff'),
  url('iconfont.ttf?t=1569331663080') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1569331663080#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e624";
}

