* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: calc(100/375*100vw);
}

.tabPageContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  width: 100%;
  height: 2.95rem;
  display: block;
  text-align: center;
  text-decoration: none;
}

a img {
  width: 100%;
  height: 1.9rem;
}

.topicItemTitle {
  font-size: 0.14rem;
  color: #000;
}

.topicItemSubtitle {
  font-size: 0.12rem;
  color: gray;
  margin: 0.06rem 0;
}

.topicItemPrice {
  font-size: 0.14rem;
  color: red;
  margin: 0.06rem 0;
}
